@{
    ViewBag.Title = "Home Page";


}


<div class="jumbotron">
    <h1>Systema de Registro de Matricula</h1>
    <div style="display:flex; justify-content: center;align-content: center;">
        <img src="~/Models/deadpool-navidad.jpg" style="max-width; 100%; max-height: 100%;">


    </div>

    <div class="row">

    </div>
